*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: whitesmoke;
   
}

*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.container span{
  text-transform: uppercase;
  display: block;
}

.text1{
  color:burlywood;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
  position: relative;
  animation: 3s 1;
}

.text2{
  color: burlywood;
  font-size: 50px; 
  font-weight: 700;
  margin-bottom: 30px;
}
.container h1{
  color:burlywood;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;

}

@keyframes text {
  0%{
    color: white;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
  85%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
}

.container img {
  width: 50%;
  padding: 0 10%;
  padding-left: 20%;
  margin-left: 55%;
  margin-top: -5%;
}

.container p{
  width: 50%;
  padding: 0 10%;
  padding-left: 20%;
  margin-left: 55%;
  margin-top: -0%;
  font-size: 30px;
}
ol {
    font-size: 25px;
    padding: 0 5%;
    margin-top: -25%;
}

ul {
    padding: 0 3%;
    margin-top: 2%;
    justify-content: space-between;
}


.finish h2 {
    font-size: 30px;
    justify-self: flex-start;
    color: black;
    margin-bottom: 1%;
}

.finish p {
    font-size: 20px;
    font-style: oblique;
    padding: 0 2%;
    justify-content: space-between;
}

.wrapper .btn {
   cursor: pointer;
   display: block;
  width: 15%;
  margin-top: 10px;
  font-size: 20px;
  padding:10px;
  border: none;
  background: fixed;
  }

  .wrapper p {
    padding: 0 2%;
    font-size: 30px;
    margin-top: 2%;
  }

  a {
    width: 20%;
    margin-top: 20px;
    font-size: 20px;
    padding:10px;
    box-sizing: border-box;
    border-radius: 10px;
    color: burlywood;
    border-radius: 7px;
  outline: none;
  border: 1px solid;
    font-style: italic;
    text-transform: capitalize;
    cursor: pointer;
    background-color: blanchedalmond;
    
  }

  .text p {
    padding: 0 2%;
    font-size: 30px;
    margin-top: 2%;
  }
  .text a {
    padding: 0 2%;
    margin-top: 2%;
  }

  /* ----------- animation ------- */
  .header h1 span{
    background: wheat;
    background-repeat: no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-size: 0%;
  }

  .header h1 span:first-child{
    animation: textcolor1 2s linear infinite alternate;
  }
  .header h1 span:last-child{
    animation: textcolor2 2s linear infinite alternate;
  }

  @keyframes  textcolor1 {
    0%{
        background-size: 0%;
    }
    40%{
        background-size: 100%;
    }
    100%{
        background-size: 100%;
    }
  }
  @keyframes  textcolor2 {
    0%{
        background-size: 0%;
    }
    40%{
        background-size: 0%;
    }
    100%{
        background-size: 100%;
    }
  }